<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI CALCULATOR</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <section>
        <h1>BMI CALCULATOR</h1>
        <small>Post your height and weight to see your Body Mass Index(BMI)</small>
        <hr>
        <form action="http://127.0.0.1:5000/" method="post">
            <label for="weight">Weight:</label>
            <input class="info" type="text" name="weight" id="weight" placeholder="kg">
            <label for="height">Height:</label>
            <input class="info" type="text" name="height" id="height" placeholder="cm">
            <input class="btn" type="submit" value="SUBMIT">
        </form>
    </section>
    <a target="_blank" href="https://github.com/SavioMessias">
        <img src="/static/githubicon.svg" alt="github icon">
    </a>
</body>
</html>